<!doctype html>
<meta charset="utf-8" />
<title>My Blog - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<form novalidate>
  <label class="label">
    <span class="label-text">
      Username
    </span>
    <input
      class="input"
      type="text"
      name="username"
      autocapitalize="off"
    />
  </label>
  <label class="label">
    <span class="label-text">
      Email
    </span>
    <input
      class="input"
      type="email"
      autocomplete="email"
      name="email"
    />
  </label>
  <label class="label">
    <span class="label-text">
      Password
    </span>
    <input
      class="input"
      type="password"
      name="password"
      autocomplete="password"
    />
  </label>
  <button
    class="button"
    type="submit">
    Submit
  </button>
</form>
<script type="module" src="/login.js"></script>